/*-- scss:defaults --*/

// Carpentries Colours
$carp-blue          : #002B66;
$carp-red           : #FF4955;
$carp-lightgrey     : #F8F8F8;
$carp-lightblue     : #E6F1FF;
$carp-offwhite      : #FFF7F1;
$carp-grey          : #D1D5DB;
$carp-darkgrey      : #383838;
$carp-bodygrey      : #585858;
$carp-headingsgrey  : #111827;

// Base document colors
$link-color:                 $carp-red;

// Banner
$body-bg:                    $carp-lightgrey; // Background

// Links

$link-decoration:             underline;
$link-hover-decoration:       none;

// Navbar icons
$navbar-fg:                   $carp-blue;
$navbar-hl:                   $carp-blue;

// Footer text
$footer-fg:                   $carp-blue;

/*-- scss:rules --*/

// Code


// home + about pages
.about-links .about-link i {
  color: $carp-blue !important;

  &:hover {
    color: $carp-blue !important;
  }
}


// Categories

// Navbar

// header
.navbar {
  background: transparent;
  padding-top: 10px;
}

// title
.navbar-title {
  font-size: 1.5em;
  font-weight: 500;
  color: $carp-blue;
  letter-spacing: .1em;

  &:hover {
    border-bottom: 2px solid $carp-blue !important;
  }
}

.navbar-brand.navbar-brand-logo {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 1.5em;
}

.navbar-logo {
  max-height: 50px;
  max-width: 100%;
  align-items: baseline;
}

// links
.navbar-nav .nav-link {
    color: $carp-blue !important;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-bottom: 0px hidden $carp-blue;
    margin: 0px 10px 0px 10px;
    padding: 2px 2px 4px 2px !important;

    &:hover, &:active a::after {
      border-bottom: 1px solid $carp-blue !important;
      padding: 2px 2px 0px 2px !important;
    }
}


// Footer

// links on left side
.nav-footer a {
    color: $carp-blue;
    // link on hover
    &:hover {
      color: $carp-blue;
    }
}

// links on right side
.nav-footer .nav-link {
    &:hover {
      text-decoration: underline;
    }
}

// social links
.link-dark.me-1 i {
  color: $carp-blue !important;
}


// Title block


// make nav bar be centered in mobile
.fixed-top {
  position: absolute;
}

.aa-DetachedOverlay {
  position: absolute;
}

// links in description

.description a {
  text-decoration: underline !important;
  &:hover {
    text-decoration: none !important;
  }
}

// Throughout the site

// title
.title {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 2em;
}


// Mobile

@media screen and (max-width: 991.98px) {
  // social media links
  .about-entity .about-links {
    flex-direction: row !important;
    justify-content: center !important;
  }

  // navigation footer
  .nav-footer {
      flex-direction: row;
    }

  .nav-footer-center {
    order: 1 !important;
    flex-basis: 100%;
    margin: 0 0 -1.2em 0;
  }

  .nav-footer-right {
    order: 2 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .nav-footer-left {
    order: 3 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .navbar .quarto-navbar-tools {
    text-align: left;
  }
}

// subtitle
.subtitle {
  font-size: 1.2em;
  // links within subtitles
  a {
    color: white;
    text-decoration: underline !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.btn:focus-visible {
  outline: 3px solid $body-color;
  outline-offset: 2px;
}

/*-- footer style --*/

.footer-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  margin-top: 2.5em;
}

.footer-text p, .p {
  color: white;
  font-size: .875rem;
  font-weight: 400;
}

.footer-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.white-background {
  background-color: white;
}

// Details Summary
details > summary {
  color: $carp-darkgrey;
}

.listing-title {
  font-size: 1em
}

.figcaption {
  text-align: justify
}
